# Dependencies
node_modules

# Build outputs
dist
build
.vite

# Logs
*.log

# Environment files
.env
.env.local
.env.*.local

# Editor directories
.vscode
.idea

# Package manager files
package-lock.json
yarn.lock
pnpm-lock.yaml

# Other
coverage
.DS_Store